<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="header-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `header-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeaderElement extends Polymer.Element {
      static get is() { return 'header-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'header-element'
          }
        };
      }
    }

    window.customElements.define(HeaderElement.is, HeaderElement);
  </script>
</dom-module>
