<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="header-element">
  <template>
    <style>
      :host {
        display: block;
      }

      :host .head{
        background: #cc0000;
        color: white;
        width: 560px;
        height: 50px;
        border-top: 1px;
      }
      :host img{
        width: 30px;
        height: 30px;
        margin: 10px;

      }
      :host .estilo{
        float: right;
        margin: 10px;
      }
      :host p{
        width: 20px;
        height: 20px;
      }
    </style>

    <div class="head">
      <nav>
        <img src="/../images/menu.png">
        <img class="estilo" src="../images/facebook.png">
        <img class="estilo" src="../images/gmail.png">
      </nav>
    </div>



  </template>

  <script>
    /**
     * `header-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HeaderElement extends Polymer.Element {
      static get is() { return 'header-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'header-element'
          }
        };
      }
    }

    window.customElements.define(HeaderElement.is, HeaderElement);
  </script>
</dom-module>
